* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Obitaem";
    src: url(ObitaemOstrov.ttf);
}

body {
    font-family: "Montserrat";
    background-color: #292929;
}

header .logo {
    display: flex;
    align-items: center;
    padding: 25px;
    font-family: "Obitaem";
    color: #ececec;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
}

.games h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news {
    display: flex;
    flex-wrap: wrap;
    width: 1900px;
}
div .post {
    float: left;
    color: white;
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    margin-left: 52px;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
    transition: .4s;
}

div .post:hover {
    background-color: #6d6c6c;
}

.post h2 {
    padding: 10px;
    font-size: 20px;
}

.post p {
    padding: 5px;
    font-size: 14px;
}

.post img {
    width: 300px;
    margin-left: -7px;
}